{
  "presets": [
    ["env", {
        "targets": {
            "browsers": ["last 1 Chrome version"]
        }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
